项目名称：online_statistics_river_release

git地址：http://gitlab.it.novaecs.com/inova_cloud_water_monitor/programs/data_process/online_statistics.git
部署服务器：river
部署目录：/home/inova_cloud/programs/data_process/online_statistics
负责人：程玉亮

jenkinsfile地址：http://gitlab.it.novaecs.com/py_dev/pipeline/pipeline_supervisor.git

注意：只会获取通过gitlab提交的邮箱，并不会获取用户通过jenkins触发的邮箱； 显示分支为jenkinfile地址的分支（只提供分支名）


/home/inova_cloud/programs/data_process/online_statistics/platform/py3/bin/python /home/inova_cloud/programs/data_process/online_statistics/code/online_hours_statistics.py


>> /var/log/cron/online_statistics/online_hours_statistics.log 2>> /var/log/cron/online_statistics/online_hours_statistics.err


/home/inova_cloud/platform/py3/bin/python /home/inova_cloud/programs/backup/export_car_data/export_car_data_tmp.py -dt_start_wz 2023-11-01T00:00:00+08:00 -dt_end_wz 2023-11-07T00:00:00+08:00




S@psXmpVJHY$


XmpVJHY123

zfG1QJXwDOYD


---------------------------
提示信息
---------------------------
请访问公司网站主页：http://www.cqvip.com
---------------------------
确定   
---------------------------
